{% extends "base.html" %}
{% block content%}

    <div class="p-4">
        <form class="mx-15 my-20 flex flex-col" action = "" method="POST">
            <h1 class="text-4xl">Books Form</h1>
            {% csrf_token %}
            <div class="flex flex-col">

                <p class="text-2xl">
                    Name
                    <input type="text" name="book_name" placeholder="Enter book name .." class="form-input py-5" />
                </p>
                <p class="text-2xl">
                    Author
                    <input type="text" name="author_name" placeholder="Enter author name .." class="form-input py-5"/>
                </p>
                <p class="text-2xl">
                    Date
                    <input type="date" name="published_date" class="form-input py-5"/>
                </p>
                <p class="text-2xl">
                    Price
                    <input type="number" name="book_price" class="form-input py-5"/>
                </p>

            </div>
         
            <div class="flex ml-5">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit">
                    Submit
                </button>                
                <!-- <a href="{% url 'book_list' %}">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        View
                    </button>
                </a> -->
                <a href="{% url 'book_list' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2">
                    <button class="btn btn-primary">View</button>
                </a>  
            </div>
        </form>
    </div>
{% endblock content %}